<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<a href="/homestay">Back to list</a>

<form th:action="@{/homestay/create}" method="post" th:object="${listHomeStay}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="city">City</label>
    <select id="city" th:field="*{city}">
        <option th:each="city : ${CityCreate}" th:value="${city.id}" th:text="${city.name}"></option>
    </select>
    <label for="numberOfRooms">Number of rooms</label>
    <input type="text" th:field="*{numberOfRooms}" id="numberOfRooms"/>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price"/>
    <label for="numberOfBathrooms">Number Of BathRoom</label>
    <input type="text" th:field="*{numberOfBathrooms}" id="numberOfBathrooms"/>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description"/>
    <input type="submit" value="Save">
</form>
</body>
</html>